<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a routerLink="" class="logo">
                    <img src="assets/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="col-sm-10">
                <div class="navmenu">
                    <ul>
                        <li><a routerLink="" routerLinkActive="current-menu" >Home</a></li>
                        <li><a routerLink="aboutus" routerLinkActive="current-menu">About Us</a></li>
                        <li><a routerLink="services" routerLinkActive="current-menu">Services</a></li>
                        <li><a routerLink="testimonials" routerLinkActive="current-menu">Testimonials</a></li>
                        <li><a routerLink="blog" routerLinkActive="current-menu">Blog</a></li>
                        <li><a routerLink="contactus" routerLinkActive="current-menu">Contact Us</a></li>
                    </ul>
                    <ul class="header-btn">
                        <li><a routerLink="login" class="custom-btn-primary">Login</a></li>
                        <li><a routerLink="signup" class="custom-btn-secondary">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>