<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a routerLink="" class="logo">
                    <img src="assets/images/logo-white.png" alt="logo">
                </a>
                <p>Lorem ipsum dolor sit amet consec tetur aditonsi soom isotope elit esumo tempo incidunt labore dolore magna aliqu.</p>
                <h3>Language</h3>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><img src="assets/images/uk.png" alt="uk"> <span>English</span></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><img src="assets/images/china.png" alt="china"><span>简体中文</span></button>
                      <button ngbDropdownItem><img src="assets/images/uae.png" alt="uae"><span>العربيّة</span></button>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3">
                <h3>Popular Cities</h3>
                <ul>
                    <li><a href="#">New York</a></li>
                    <li><a href="#">Sydney</a></li>
                    <li><a href="#">Dubai</a></li>
                    <li><a href="#">Florida</a></li>
                    <li><a href="#">Georgia</a></li>
                    <li><a href="#">Los Angeles</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Agents</a></li>
                    <li><a href="#">Latest News</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6303.6770550845895!2d144.955775!3d-37.817251!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1666022646627!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container">
            <p>Copyright &copy; 2022, Enuf. All rights reserved</p>
        </div>
    </div>
</footer>