<div class="breadcrumb">
    <div class="container">
        <h2>About Us</h2>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<div class="secondary-container aboutus">
    <div class="aboutus-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <figure>
                        <img src="assets/images/aboutus-img.jpg" alt="aboutus-img">
                    </figure>
                </div>
                <div class="col-sm-7">
                    <div class="aboutustop-cnt">
                        <div class="leftheading"><span>About Us</span> Welcome To Enuf</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam eligendi, velit unde commodi illum repellendus quis assumenda laborum esse, pariatur cum excepturi, quae atque optio quam laudantium illo nostrum maiores adipisci asperiores! Placeat commodi adipisci iure nemo ipsa in accusantium vitae illo a voluptate nostrum sit deserunt, saepe facere quasi magni at alias rem atque, nam quod natus odio expedita exercitationem. Hic reprehenderit a aspernatur veniam dolores error laudantium voluptas dolorum alias? Harum quam enim, ducimus atque cumque quibusdam commodi praesentium voluptate nobis error quas dolore facilis consequatur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADVANTAGE SECTION -->

    <div class="advantage">
        <div class="container">
            <h2 class="heading"><span>Advantages</span>Our Best Advantages</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="advantagelist">
                        <figure>
                            <img src="assets/images/adv-1.png" alt="adv-1">
                        </figure>
                            <h3>Smart Home Design</h3>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adip isci ngelit, sed do eiusmod tem.</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="advantagelist">
                        <figure>
                            <img src="assets/images/adv-2.png" alt="adv-2">
                        </figure>
                            <h3>Beautiful Scene Around</h3>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adip isci ngelit, sed do eiusmod tem.</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="advantagelist">
                        <figure>
                            <img src="assets/images/adv-3.png" alt="adv-3">
                        </figure>
                            <h3>Complete 24/7 Support</h3>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adip isci ngelit, sed do eiusmod tem.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PARTNER SECTION -->

    <div class="partner">
        <div class="container">
            <ul>
                <li><img src="assets/images/partner-1.png" alt="partner-1"></li>
                <li><img src="assets/images/partner-2.png" alt="partner-2"></li>
                <li><img src="assets/images/partner-3.png" alt="partner-3"></li>
                <li><img src="assets/images/partner-4.png" alt="partner-4"></li>
                <li><img src="assets/images/partner-5.png" alt="partner-5"></li>
            </ul>
        </div>
    </div>

</div>