<div class="breadcrumb">
    <div class="container">
        <h2>Services</h2>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li>Services</li>
        </ul>
    </div>
</div>
<div class="secondary-container services"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="houselistinglist">
                    <figure><img src="assets/images/house-1.jpg" alt="house-1"></figure>
                    <div class="houselistinglist-info">
                        <h3>Luxury & Modern Villa</h3>
                        <p>4521 Hilltop Street, Saint Just</p>
                        <ul>
                            <li>05</li>
                            <li>04</li>
                            <li>1300 sqft</li>
                        </ul>
                        <p class="price"><span>$35,000/</span>month</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="houselistinglist">
                    <figure><img src="assets/images/house-2.jpg" alt="house-2"></figure>
                    <div class="houselistinglist-info">
                        <h3>Luxury & Modern Villa</h3>
                        <p>4521 Hilltop Street, Saint Just</p>
                        <ul>
                            <li>05</li>
                            <li>04</li>
                            <li>1300 sqft</li>
                        </ul>
                        <p class="price"><span>$35,000/</span>month</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="houselistinglist">
                    <figure><img src="assets/images/house-3.jpg" alt="house-3"></figure>
                    <div class="houselistinglist-info">
                        <h3>Luxury & Modern Villa</h3>
                        <p>4521 Hilltop Street, Saint Just</p>
                        <ul>
                            <li>05</li>
                            <li>04</li>
                            <li>1300 sqft</li>
                        </ul>
                        <p class="price"><span>$35,000/</span>month</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="houselistinglist">
                    <figure><img src="assets/images/house-5.jpg" alt="house-5"></figure>
                    <div class="houselistinglist-info">
                        <h3>Luxury & Modern Villa</h3>
                        <p>4521 Hilltop Street, Saint Just</p>
                        <ul>
                            <li>05</li>
                            <li>04</li>
                            <li>1300 sqft</li>
                        </ul>
                        <p class="price"><span>$35,000/</span>month</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="houselistinglist">
                    <figure><img src="assets/images/house-4.jpg" alt="house-4"></figure>
                    <div class="houselistinglist-info">
                        <h3>Luxury & Modern Villa</h3>
                        <p>4521 Hilltop Street, Saint Just</p>
                        <ul>
                            <li>05</li>
                            <li>04</li>
                            <li>1300 sqft</li>
                        </ul>
                        <p class="price"><span>$35,000/</span>month</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="houselistinglist">
                    <figure><img src="assets/images/house-6.jpg" alt="house-6"></figure>
                    <div class="houselistinglist-info">
                        <h3>Luxury & Modern Villa</h3>
                        <p>4521 Hilltop Street, Saint Just</p>
                        <ul>
                            <li>05</li>
                            <li>04</li>
                            <li>1300 sqft</li>
                        </ul>
                        <p class="price"><span>$35,000/</span>month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>