<div class="breadcrumb">
    <div class="container">
        <h2>Contact Us</h2>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li>Contact Us</li>
        </ul>
    </div>
</div>

<div class="secondary-container contactus">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contactdtls">
                    <figure>
                        <img src="assets/images/location.gif" alt="location">
                    </figure>
                    <h3>Visit Us Anytime</h3>
                    <p>342/A Brooklyn St, Milson Avenue, New York, USA</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contactdtls">
                    <figure>
                        <img src="assets/images/email.gif" alt="email">
                    </figure>
                    <h3>Send An Email</h3>
                    <p><a href="mailto:hello@enuf.com">hello@enuf.com</a></p>
                    <p><a href="mailto:support@enuf.com">support@enuf.com</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contactdtls">
                    <figure>
                        <img src="assets/images/phone.gif" alt="phone">
                    </figure>
                    <h3>Call Center</h3>
                    <p><a href="tel:+44 587 154765">+44 587 154765</a></p>
                    <p><a href="tel:+55 576 234532">+55 576 234532</a></p>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="leftheading"><span>Contact Us</span>How Can We Help You?</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores pariatur a eius ea similique quod dicta ipsa vel quidem repellendus, beatae nulla veniam, quaerat veritatis architecto. Aliquid doloremque nesciunt nobis, debitis, quas veniam dolore culpa corrupti maxime cum similique.</p>
                    <ul class="smoicons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-sm-12">
                                <input type="text" placeholder="Subject">
                            </div>
                            <div class="col-sm-12">
                                <textarea placeholder="Message"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <input type="checkbox" id="check">
                                <label for="check">I agree to the <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></label>
                            </div>
                            <div class="col-sm-12">
                                <a href="#" class="custom-btn-primary">Send Message</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>