<div class="mainslider">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/slider-1.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h1>First slide label</h1>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <a href="#" mat-raised-button color="primary">Read More</a>
            <a href="#" mat-raised-button color="accent">Contact Us</a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/slider-3.jpg" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h1>Second slide label</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" mat-raised-button color="primary">Read More</a>
            <a href="#" mat-raised-button color="accent">Contact Us</a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/slider-2.jpg" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h1>Third slide label</h1>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <a href="#" mat-raised-button color="primary">Read More</a>
            <a href="#" mat-raised-button color="accent">Contact Us</a>
          </div>
        </ng-template>
      </ngb-carousel>
      
</div>