<div class="mainslider">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/slider-1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1>First slide label</h1>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <a routerLink="aboutus" mat-raised-button color="primary">Read More</a>
        <a href="#" mat-raised-button color="accent">Contact Us</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/slider-3.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h1>Second slide label</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a routerLink="aboutus" mat-raised-button color="primary">Read More</a>
        <a href="#" mat-raised-button color="accent">Contact Us</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/slider-2.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h1>Third slide label</h1>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        <a routerLink="aboutus" mat-raised-button color="primary">Read More</a>
        <a href="#" mat-raised-button color="accent">Contact Us</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container">
  <div class="bannerform">
    <form>
      <div class="row">
        <div class="col-sm-3">
          <input type="text" placeholder="Location">
        </div>
        <div class="col-sm-3">
          <select>
            <option value="Price Range">Price Range</option>
            <option value="$1000 - $2000">$1000 - $2000</option>
            <option value="$3000 - $4000">$3000 - $4000</option>
            <option value="$5000 - $6000">$5000 - $6000</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select>
            <option value="Bed & Bath">Bed & Bath</option>
            <option value="2 Bed 2 Bath">2 Bed 2 Bath</option>
            <option value="3 Bed 2 Bath">3 Bed 2 Bath</option>
            <option value="4 Bed 3 Bath">4 Bed 3 Bath</option>
          </select>
        </div>
        <div class="col-sm-3">
          <a href="#" class="custom-btn-primary">Search Property</a>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- HOUSE LISTING SECTION -->

<div class="houselisting">
  <div class="container">
    <h2 class="heading">Latest House Listings</h2>
    <h4 class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi dunt ut
      labore et dolore magna aliqua adipiscing elit.</h4>
    <div class="row">
      <div class="col-sm-4">
        <div class="houselistinglist">
          <figure><img src="assets/images/house-1.jpg" alt="house-1"></figure>
          <div class="houselistinglist-info">
            <h3>Luxury & Modern Villa</h3>
            <p>4521 Hilltop Street, Saint Just</p>
            <ul>
              <li>05</li>
              <li>04</li>
              <li>1300 sqft</li>
            </ul>
            <p class="price"><span>$35,000/</span>month</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="houselistinglist">
          <figure><img src="assets/images/house-2.jpg" alt="house-2"></figure>
          <div class="houselistinglist-info">
            <h3>Luxury & Modern Villa</h3>
            <p>4521 Hilltop Street, Saint Just</p>
            <ul>
              <li>05</li>
              <li>04</li>
              <li>1300 sqft</li>
            </ul>
            <p class="price"><span>$35,000/</span>month</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="houselistinglist">
          <figure><img src="assets/images/house-3.jpg" alt="house-3"></figure>
          <div class="houselistinglist-info">
            <h3>Luxury & Modern Villa</h3>
            <p>4521 Hilltop Street, Saint Just</p>
            <ul>
              <li>05</li>
              <li>04</li>
              <li>1300 sqft</li>
            </ul>
            <p class="price"><span>$35,000/</span>month</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="houselistinglist">
          <figure><img src="assets/images/house-5.jpg" alt="house-5"></figure>
          <div class="houselistinglist-info">
            <h3>Luxury & Modern Villa</h3>
            <p>4521 Hilltop Street, Saint Just</p>
            <ul>
              <li>05</li>
              <li>04</li>
              <li>1300 sqft</li>
            </ul>
            <p class="price"><span>$35,000/</span>month</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="houselistinglist">
          <figure><img src="assets/images/house-4.jpg" alt="house-4"></figure>
          <div class="houselistinglist-info">
            <h3>Luxury & Modern Villa</h3>
            <p>4521 Hilltop Street, Saint Just</p>
            <ul>
              <li>05</li>
              <li>04</li>
              <li>1300 sqft</li>
            </ul>
            <p class="price"><span>$35,000/</span>month</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="houselistinglist">
          <figure><img src="assets/images/house-6.jpg" alt="house-6"></figure>
          <div class="houselistinglist-info">
            <h3>Luxury & Modern Villa</h3>
            <p>4521 Hilltop Street, Saint Just</p>
            <ul>
              <li>05</li>
              <li>04</li>
              <li>1300 sqft</li>
            </ul>
            <p class="price"><span>$35,000/</span>month</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- HOME BOOK SECTION -->

<div class="homebook">
  <div class="container">
    <h2 class="heading">3 Steps To Book Your Home</h2>
    <h4 class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi dunt ut
      labore et dolore magna aliqua adipiscing elit.</h4>
    <div class="row">
      <div class="col-sm-4">
        <div class="homebooklist">
          <img src="assets/images/search-select.png" alt="search-select">
          <span class="counttag">01</span>
          <h3>Search & Select</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homebooklist">
          <img src="assets/images/reserve-property.png" alt="reserve-property">
          <span class="counttag">02</span>
          <h3>Reserve The Property</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="homebooklist">
          <img src="assets/images/confirm-reservation.png" alt="confirm-reservation">
          <span class="counttag">03</span>
          <h3>Confirm Reservation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- EXPLORE PROPERTY SECTION -->

<div class="explore-property">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-6">
        <h2 class="leftheading">Living Where You Love Means Loving Your Life</h2>
        <p>Strategic planning dolor sit amet consectetur adipiscing elit. Scel erus isque ametus odio velit auctor nam
          elit nulla eget sodales dui pulvinar. Best strategic planning dolor.</p>
        <a routerLink="#" class="custom-btn-primary">Explore Properties</a>
      </div>
    </div>
  </div>
</div>


<!-- COUNTDOWN SECTION -->

<div class="countdown">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="countdownlist">
          <img src="assets/images/counter-card-shape.png" alt="counter-card-shape">
          <h5><span>12+</span>Years Of Experience</h5>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="countdownlist">
          <img src="assets/images/counter-card-shape.png" alt="counter-card-shape">
          <h5><span>167k+</span>Apartments Rent</h5>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="countdownlist">
          <img src="assets/images/counter-card-shape.png" alt="counter-card-shape">
          <h5><span>239+</span>Total Constructions</h5>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="countdownlist">
          <img src="assets/images/counter-card-shape.png" alt="counter-card-shape">
          <h5><span>449+</span>Apartio Rooms</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PROMO VIDEO SECTION -->

<div class="promovideo">
  <div class="container">
    <div class="playbutton"><i class="fas fa-play"></i></div>
    <h2 class="heading"><span>Open Video</span>Attend A Virtual Open Apartments</h2>
  </div>
</div>

<!-- CITIES SECTION CSS -->


<div class="cities">
  <div class="container">
    <h2 class="heading">Our Hottest Nearby Cities</h2>
    <h4 class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua adipiscing elit.</h4>
    <ngx-slick-carousel class="carousel row" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem class="slide citieslist">
          <img src="assets/images/house-1.jpg" alt="house-1" width="100%">
          <a href="#"><h3>Vancuver City</h3></a>
      </div>
      <div ngxSlickItem class="slide citieslist">
          <img src="assets/images/house-2.jpg" alt="house-2" width="100%">
          <a href="#"><h3>Montreal City</h3></a>
      </div>
      <div ngxSlickItem class="slide citieslist">
          <img src="assets/images/house-3.jpg" alt="house-3" width="100%">
          <a href="#"><h3>Los Angeles</h3></a>
      </div>
      <div ngxSlickItem class="slide citieslist">
          <img src="assets/images/house-4.jpg" alt="house-4" width="100%">
          <a href="#"><h3>Florida</h3></a>
      </div>
      <div ngxSlickItem class="slide citieslist">
          <img src="assets/images/house-5.jpg" alt="house-5" width="100%">
          <a href="#"><h3>Pennsylvania</h3></a>
      </div>
      <div ngxSlickItem class="slide citieslist">
        <img src="assets/images/house-6.jpg" alt="house-6" width="100%">
        <a href="#"><h3>Vancuver City</h3></a>
    </div>
    </ngx-slick-carousel>
  </div>
</div>

<!-- FAQ SECTION -->

<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <figure>
          <img src="assets/images/faq-img.png" alt="faq-img">
        </figure>
      </div>
      <div class="col-sm-6">
        <div class="faqlist">
          <h2 class="leftheading"><span>Have Questions?</span>Frequently Asked Questions</h2>
          <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="What Is The Price range Of Your Properties?">
              <ng-template ngbPanelContent>
                Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <span>How Long Will It take To Process My Application?</span>
              </ng-template>
              <ng-template ngbPanelContent>
                Lorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" title="What If I Need To Move Out Before My Lease Exercise?">
              <ng-template ngbPanelContent>
                ALorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-4" title="What Our IT Consultants Suggest On New Topics?">
              <ng-template ngbPanelContent>
                ALorem ipsum dolor sit amet consec tetur adipisicing elit. Quisquam sit laborum est aliquam. Dicta fuga soluta eius exercitationem porro modi. Exercitationem eveniet aliquam repudiandae non, sequi mollitia at iusto.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          
        </div>
      </div>
    </div>
  </div>
</div>